<p id="notice"><%= notice %></p>

<h1>Your Albums</h1>

    <div>

    <% @albums.each do |album| %>
      
        
        <%= album.name %>
        <p><%= link_to 'Show', album %></p>
        <p><%= link_to 'Edit', edit_album_path(album) %></p>
        <p><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    </div>
      
    <% end %>

<br>

<p><%= link_to 'Create an Album', new_album_path %></p>





