<p id="notice"><%= notice %></p>

<h1>Your Albums</h1>

    
<% if current_user %>
    <% @albums.each do |album| %>
    	
    		<%= album.name %>
        	<p><%= link_to 'Show', album %></p>
        	<p><%= link_to 'Edit', edit_album_path(album) %></p>
        	<p><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></p> 
    <% end %>
<% else %>
	<% @albums.each do |album| %>
    	<% if album.is_private == false %>
        	<%= album.name %>
        	<p><%= link_to 'Show', album %></p>
        	<p><%= link_to 'Edit', edit_album_path(album) %></p>
        	<p><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></p> 
    	<% end %>
    <% end %>	
<% end %>

<br>

<p><%= link_to 'Create an Album', new_album_path %></p>





