<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

  <% @images.each do |image| %>
      
    <% if image.album_id == @album.id %>
    	<div class="image_in_album"><%= image_tag(image.image) %></div>
    <% end %>
      
  <% end %>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
