<p id="notice"><%= notice %></p><br>


<h1>Images</h1><br>

  <%= link_to 'Add to your Gallery!', new_image_path %> <br>

    <br><% @images.each do |image| %>
      <div class="photo">
            
         <%= link_to image_tag(image.image), image %><!-- change URL display from text to image -->
         <p><%= image.name %></p>
         <p><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></p>
         
         
      </div>


    <% end %>


      <script>
      
      	$("button").on("click", function() {
    		
  		});
		
	  </script>


<br><br>


