<!DOCTYPE html>
<html>
<head>
  <title>ProjectOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navigation">
	
	<nav>
		<% if current_user %>
			<ul>
				<li>Welcome,  <%= current_user.name%>!</li>
				<li><%= link_to "Gallery", images_path %></li>
				<li><%= link_to "Albums", albums_path %></li>
				<li><%= link_to "Log Out", logout_path %></li>
		 		
			</ul>
					
		<% else %>
		 	<%= link_to "Already signed up? Log in here", login_path%>
		<% end %>
	 </nav>
</div>


<%= yield %>

</body>
</html>
